/* your styles go here */
/* Example site test */

.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}
.services-icon {
  display: inline-block;
  width: 250px;
  height: 250px;
  color: #fff;
  line-height: 80px;
  border-radius: 150px;
  border: solid 1px var(--primary-accent);
  font-size: 20px;
}
.services-icon.services-icon-lg {
  font-size: 30px;
  border-width: 2px;
}
.services-dropshadow {
  text-shadow: 2px 2px #000;
}
.btn-hover:hover {
  text-shadow: 2px 2px #fff;
  color: #000;
}
