<section style="text-align: center">
  <style>
    .youtube-video {
      aspect-ratio: 16 / 9;
      width: 80%;
    }
  </style>
  <div class="heading">
    <h2>Our Latest Video</h2>
  </div>
  <lite-youtube playlistid="UUA0WSj1hhc4RjIg8guYFL1Q"></lite-youtube>
  <!-- 
  <iframe
    class="youtube-video"
    loading="lazy"
    src="https://www.youtube.com/embed/videoseries?list=UUA0WSj1hhc4RjIg8guYFL1Q"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
 -->
</section>
