<section style="text-align: center">
  <style>
    .youtube-video {
      aspect-ratio: 16 / 9;
      width: 100%;
    }
  </style>

  <!-- embed code from YouTube -->

  <div class="row" style="padding-top: 40px">
    <div class="col-sm-4">
      <iframe
        class="youtube-video"
        loading="lazy"
        width="560"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/videoseries?list={{ .Site.Params.video.latest_video }}><img src=/img/latest_video.webp><span>▶</span></a>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="heading"><h4>Latest</h4></div>
    </div>
    <div class="col-sm-4">
      <iframe
        width="560"
        class="youtube-video"
        loading="lazy"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ .Site.Params.video.introduction_video }}?autoplay=1><img src=/img/intro_video.webp><span>▶</span></a>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="heading"><h4>Introduction</h4></div>
    </div>
    <div class="col-sm-4">
      <iframe
        width="560"
        class="youtube-video"
        loading="lazy"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ .Site.Params.video.featured_video }}?autoplay=1><img src=/img/featured_video.webp><span>▶</span></a>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="heading"><h4>Featured</h4></div>
    </div>
  </div>
</section>
